<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>men's clothing</title>
    <link rel="stylesheet" href="../asset/men.css">
</head>

<body>
    <div class="grid-container">
        <div class="grid-item item1">
            <img src="../asset/image/men cloth.jpg">
        </div>
        <div class="grid-item item2">
            <h3 style="color: #002772">Mens casual slim flit</h3>
            <P>mens clothing</P>
            <hr>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <br><br><br>
            <hr>
            <h3 style="color:#002772">$ 29.95</h3>
            <button class="button2">Buy now</button>
            <button class="button3">Next product</button>
        </div>
    </div>
</body>

</html>